<form method="post" action="<%= `/admin/creator/course/${editedCourse._id}/edit`%>">
    <label for="courseTitle">Nadpis kurzu</label>

    <input id="courseTitle" class="courseInputs" name="courseTitle" value="<%= editedCourse.title %>" placeholder="Zde je nadpis kurzu.">

    <br>

    <label for="courseThumbnail">URL titulní fotky</label>

    <input id="courseThumbnail" class="courseInputs" name="courseThumbnail" value="<%= editedCourse.thumbnailUrl %>" placeholder="Zde je URL thumbnailu.">

    <br>

    <label for="courseCategory">Název kategorie</label>

    <input id="courseCategory" class="courseInputs" name="courseCategory" value="<%= editedCourse.categoryName %>" placeholder="Zde je kategorie kurzu">

    <br>

    <label for="courseTextForm">Text celého kurzu:</label>

    <textarea id="courseBody" name="courseBody" rows="4" placeholder="Zde bude zadáván veškerý text pro kurz, v html tagu."><%= editedCourse.mainText %></textarea>
    <br>

    <button type="submit">ODEŠLI</button>
</form>
